.auth-form {
  max-width: 400px;
  margin: 40px auto;
  .text-center {
    margin-top: -50px;
  }

  .border-bottom-only {
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none !important;
    outline: none !important;

    &:focus {
      box-shadow: 0 1px 0 0 #495057 !important;
    }
  }

  .input-icon {
    position: relative;
    display: flex;
    align-items: center;

    > svg {
      position: absolute;
      left: 10px;
      color: #495057;
    }

    > .form-control {
      padding-left: 35px;
    }
  }

  .submit-btn {
    width: 100%;
    margin-top: 10px;
  }

  .separator {
    text-align: center;
    margin: 20px 0;
  }

  .facebook-login-btn {
    width: 100%;
    background-color: #3b5998;
    border-color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      background-color: #2d4474;
      border-color: #2d4474;
    }
  }
}

.modal-25w {
  width: 25%;
  min-width: 400px;
  h4 {
    font-size: 17px;
  }
}

@media #{ $md-layout }, #{ $xs-layout }, #{ $sm-layout }, #{ $xxs-layout } {
  .modal-25w {
    width: 90%;
    max-width: 350px;
  }
}
