.description-review-topbar {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid #d7d7d7;
}

.description-review-bottom {
  padding: 33px 0 0;

  .product-anotherinfo-wrapper {
    ul {
      li {
        font-size: 14px;

        margin: 0 0 13px;

        list-style: outside none none;

        color: #333;
        span {
          font-weight: 500;

          display: inline-block;

          min-width: 85px;
          margin: 0 26px 0 0;

          color: #000;
        }
      }
    }
  }
}

.single-review {
  display: flex;

  margin: 0 0 50px;
  @media #{$xs-layout} {
    display: block;
  }
  @media #{$sm-layout} {
    display: flex;
  }
  .review-img {
    flex: 0 0 90px;

    margin: 0 15px 0 0;
    @media #{$xs-layout} {
      margin: 0 0 20px 0;
    }
    @media #{$sm-layout} {
      margin: 0 15px 0 0;
    }
  }
  .review-top-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 10px;
    .review-left {
      display: flex;
      .review-name {
        margin-right: 25px;
        h4 {
          font-size: 16px;
          font-weight: 500;
          line-height: 1;

          margin: 0;
        }
      }
      .review-rating {
        line-height: 1;
        i {
          font-size: 12px;

          margin-right: 1px;

          color: #ffa900;
        }
      }
      & > button {
        border: none;
        background: none;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  .review-bottom p {
    width: 93%;
    margin: 0;
  }
}

.single-review.child-review {
  margin-bottom: 0;
  margin-left: 70px;
  @media #{$xs-layout} {
    margin-left: 0;
  }
}

.ratting-form-wrapper {
  @media #{$md-layout} {
    &.pl-50 {
      margin-top: 50px;
      padding-left: 0;
    }
  }
  @media #{$xs-layout} {
    &.pl-50 {
      margin-top: 50px;
      padding-left: 0;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    margin: 0;
  }
  .ratting-form {
    form {
      .star-box {
        display: flex;

        margin: 6px 0 20px;
        span {
          margin: 0 15px 0 0;
        }
        .ratting-star {
          font-size: 12px;

          margin: 2px 0 0;

          color: #ffa900;
        }
      }
      .rating-form-style {
        input,
        textarea {
          padding: 2px 10px 2px 20px;

          color: #333;
          border: 1px solid #e6e6e6;
          background: transparent;
        }
        textarea {
          height: 180px;
          margin-bottom: 20px;
          padding: 20px 10px 2px 20px;
        }
      }
      .form-submit input {
        font-weight: 500;

        width: auto;
        height: auto;
        padding: 12px 50px;

        text-transform: uppercase;

        color: #fff;
        border: 1px solid $theme-color;
        background-color: $theme-color;
        &:hover {
          border: 1px solid #333;
          background-color: #333;
        }
      }
    }
  }
}

.product-large-image-wrapper {
  position: relative;
  .product-img-badges {
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 20px;
    span {
      font-size: 13px;
      font-weight: 500;
      line-height: 1;

      display: block;

      margin-bottom: 10px;
      padding: 3px 11px;

      color: #fff;
      border-radius: 3px;
      &.pink {
        background-color: #fa6bff;
      }
      &.purple {
        background-color: #a749ff;
      }
    }
  }

  .lightgallery-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    padding: 0;
    border: none;
    background: none;
  }

  .single-image {
    img {
      width: 100%;
    }
  }
}

.shop-area {
  .sticky {
    top: 70px !important;
  }
}

.product-small-image-wrapper {
  .ht-swiper-button-nav {
    visibility: hidden;

    opacity: 0;
    color: #333;
    border: none;
    background: none;
    i {
      font-size: 40px;
    }
  }
  .single-image {
    cursor: pointer;
    min-height: 100px;
    img {
      width: 100%;
    }
  }

  &:hover {
    .ht-swiper-button-nav {
      visibility: visible;

      opacity: 1;
    }
  }
  .single-image {
    height: 100%;
    min-height: 100px;
    img {
      height: 100%;

      object-fit: cover;
      object-position: center;
    }
  }

  &--side-thumb {
    overflow: hidden;

    height: 630px;
    @media #{$lg-layout,
    $md-layout,
    $xs-layout} {
      height: auto;
      margin-top: 15px;
    }
  }
}
