/*----- 3. Slider style  ------*/

.swiper-slide .slider-animated-1 * {
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.swiper-slide-visible .swiper-slide {
  pointer-events: visible;
}
.swiper-slide-visible {
  .slider-animated-1 {
    h3 {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    h1 {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1.3s;
      animation-delay: 1.3s;
    }
    h5 {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
    }
    p {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
    }
    a {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      -webkit-animation-delay: 1.6s;
      animation-delay: 1.6s;
    }
  }
}

.nav-style-1 {
  .ht-swiper-button-nav {
    font-size: 80px;

    position: absolute;
    top: 50%;
    left: 80px;

    display: inline-block;
    visibility: hidden;

    width: 80px;
    height: 80px;
    padding: 0;

    transition: all 0.3s ease 0s;
    transform: translateY(-50%);
    text-align: center;

    opacity: 0;
    color: #999;
    border: none;
    background: none;
    @media #{$xl-layout} {
      left: 30px;
    }
    @media #{$lg-layout} {
      left: 30px;
    }
    @media #{$md-layout} {
      font-size: 60px;

      left: 15px;
    }
    @media #{$xs-layout} {
      font-size: 50px;

      left: 15px;
    }
    &:hover {
      color: $theme-color;
    }
    &.swiper-button-next {
      right: 80px;
      left: auto;
      @media #{$xl-layout} {
        right: 30px;
      }
      @media #{$lg-layout} {
        right: 30px;
      }
      @media #{$md-layout} {
        right: 15px;
      }
      @media #{$xs-layout} {
        right: 15px;
      }
    }
  }

  &.nav-testi-style {
    .owl-nav {
      div {
        font-size: 50px;

        left: -155px;

        color: #8d8c8c;
        @media #{$xl-layout} {
          left: -80px;
        }
        @media #{$lg-layout} {
          left: -80px;
        }
        @media #{$md-layout} {
          left: -30px;
        }
        @media #{$xs-layout} {
          display: none;
        }
        &:hover {
          color: #3d6882;
        }
      }
    }
  }
}
.slider-area {
  &:hover .nav-style-1 .ht-swiper-button-nav {
    visibility: visible;

    opacity: 1;
  }
}

/* slider style-2 */
.slider-content-2 {
  margin-top: -6px;
  @media #{$xs-layout} {
    text-align: center;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;

    position: relative;

    margin-bottom: 0;
    margin-left: 135px;

    color: #000000;
    @media #{$xs-layout} {
      margin-left: 0;
    }
    @media #{$sm-layout} {
      margin-left: 60px;
    }
    &::before {
      position: absolute;
      top: 14px;
      left: -135px;

      width: 120px;
      height: 2px;

      content: "";

      background-color: #000000;
      @media #{$xs-layout} {
        display: none;
      }
      @media #{$sm-layout} {
        left: 80px;

        display: block;

        width: 60px;
      }
    }

    &.no-style {
      margin-left: 0;
      @media #{$sm-layout} {
        margin-left: 0;
      }
      &:before {
        display: none;
      }
    }
  }
  h1 {
    font-size: 72px;
    line-height: 97px;

    margin: 6px 0 37px;

    color: #010101;
    @media #{$xl-layout} {
      font-size: 60px;
      line-height: 80px;
    }
    @media #{$lg-layout} {
      font-size: 56px;
      line-height: 70px;
    }
    @media #{$md-layout} {
      font-size: 45px;
      line-height: 60px;
    }
    @media #{$xs-layout} {
      font-size: 35px;
      line-height: 45px;
    }
  }
  .slider-btn {
    a {
      font-size: 16px;
      line-height: 1;

      display: inline-block;

      padding: 19px 50px 21px;

      text-transform: uppercase;

      color: #010101;
      border: 1px solid #333;
      background-color: #eeeff1;
      @media #{$xs-layout} {
        padding: 14px 30px 16px;
      }
      &:hover {
        color: #fff;
        border: 1px solid $theme-color;
      }
    }
  }

  &--style2 {
    h1 {
      margin-bottom: 5px;
    }
    p {
      font-size: 17px;
      font-weight: 400;

      margin-bottom: 50px;

      color: #73848e;
    }
    .slider-btn {
      a {
        background-color: transparent;
      }
    }

    &--white {
      h1 {
        color: $white;
      }
      h3 {
        color: $white;
      }
      .slider-btn {
        a {
          color: $white;
          border-color: $white;
        }
      }
    }
  }

  &--white {
    h1 {
      color: $white;
    }
    h3 {
      color: $white;
    }
    p {
      color: $white;
    }
    .slider-btn {
      a {
        color: $white;
        border-color: $white;
        background-color: transparent;
      }
    }
  }
}

.single-slider-2 {
  background-size: cover;
  background-position: top center;

  @media #{$xl-layout} {
    background-position: 50%;
  }
  @media #{$lg-layout} {
    background-position: 42%;
  }
  @media #{$xs-layout} {
    background-position: 30%;
  }
  @media #{$sm-layout} {
    background-position: 22%;
  }
}

/* home 3 */

.slider-height-2 {
  height: 667px;
  @media #{$xl-layout} {
    height: 570px;
  }
  @media #{$lg-layout} {
    height: 500px;
  }
  @media #{$md-layout} {
    height: 500px;
  }
  @media #{$xs-layout} {
    height: 400px;
  }
}

.single-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 890px;

  @media #{$xx-layout,
  $xl-layout,
  $lg-layout,
  $md-layout} {
    height: 600px;
  }
  @media #{$xs-layout} {
    height: 500px;
  }
}
