/*------ 10. Suscribe style  ------*/

.subscribe-area-3 {
  &.ml-70 {
    @media #{$md-layout,
    $sm-layout} {
      margin-left: 30px;
    }
    @media #{$xs-layout} {
      margin-left: 15px;
    }
  }

  &.mr-70 {
    @media #{$md-layout,
    $sm-layout} {
      margin-right: 30px;
    }
    @media #{
    $xs-layout} {
      margin-right: 15px;
    }
  }
}

.subscribe-style-3 {
  h2 {
    font-size: 48px;

    margin: 0 0 23px;

    color: #010101;
    @media #{$xs-layout} {
      font-size: 35px;

      margin: 0 0 12px;
    }
    @media #{$md-layout} {
      font-size: 40px;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.5;

    margin: 0;

    color: #696969;
  }

  &--title-style2 {
    h2 {
      font-family: $josefin;
      font-size: 36px;
    }
  }

  .subscribe-form-3 {
    input {
      height: 46px;

      text-align: center;

      color: #333;
      border: none;
      border-bottom: 2px solid #e2e2e2;
      background: transparent;
    }
    .mc-news {
      display: none;
    }
    .clear-3 {
      margin-top: 40px;
      input,
      button {
        font-weight: 500;
        line-height: 1;

        width: auto;
        height: auto;
        padding: 17px 55px;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: #fff;
        border: none;
        border-radius: 5px;
        background: none;
        background-color: #070508;
        &:hover {
          background-color: $theme-color;
        }
      }
      &.red-subscribe {
        input,
        button {
          background-color: #df262b;
          &:hover {
            background-color: $theme-color;
          }
        }
      }
      &.dark-red-subscribe {
        input,
        button {
          border-radius: 50px;
          background-color: #c61a32;
          &:hover {
            background-color: $theme-color;
          }
        }
      }
    }
  }
}
