.bottomBar {
  background-color: #ffffff;
  padding: 0.5rem 0;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
