.container {
  max-width: calc(100% - 220px);
  margin: 0 auto;
  padding: 1rem;
  transition: margin-left 0.3s ease-in-out;
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .centerButton {
    text-align: center;
    margin-top: 2rem;
    .addButton {
      font-size: 1.25rem;
      padding: 0.5rem 2.5rem;
    }
  }
}

.sidebarOpen {
  margin-left: 220px;
}
